#index{
	background-color: #B0C5CC;
}
#questNum{
	background-color: #B5DCFF;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 1);
	font-family: 

}
.main {
	position: relative;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	height: 600px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#question{
	position: relative;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	text-align: center;
	background-color: #DCF7FF;
	height: 400px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px, 4px, 50px, 50px;
	-webkit-border-radius: 4px, 4px, 50px, 50px;
	-moz-border-radius: 4px, 4px, 50px, 50px;
	-o-border-radius: 4px, 4px, 50px, 50px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
}
ul {
	text-align: left;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	background-color: #83FCFF;
	margin-left: 150px;
	padding: 1.5em;
	border: none;
	border-radius: 50px;
	width: 10em;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: lighter;
	padding-left: 40px;
	padding-top: 20px;
}
#add, #next, #new, #begin {
	height: 30px;
	width: 125px;
	margin:11px;
}
#score{
	float: right;
}


