.main {
	position: relative;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	height: 600px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#question{
	position: relative;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	text-align: center;
	background-color: #D0FEFF;
	height: 400px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px, 4px, 50px, 50px;
	-webkit-border-radius: 4px, 4px, 50px, 50px;
	-moz-border-radius: 4px, 4px, 50px, 50px;
	-o-border-radius: 4px, 4px, 50px, 50px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
}
ul.choices {
	padding: 3em;
	list-style: none;
	text-align: center;
	height: 3em;
	border-color: black;
}

ul.choices li{
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .5);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .5);
	display: inline-block;
	border: 1px solid black;
	padding: 1.5em 1.5em 1.5em 1.5em;
	font-size: .75em;
	color: black;
}

h2 {
	background-color: #83FCFF;
	margin-left: 150px;
	padding: 1.5em;
	border: none;
	border-radius: 50px;
	width: 10em;
}
.button {
	background-color: #AAECFF;
	border-color: #AAECFF;
	height: 50px;
	width: 300px;
	margin-top: 1px;
	float:left;
	border-radius: 30px;
	border: none;
}

